/* You can add global styles to this file, and also import other style files */
.main-container {
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 70px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
 }

 .login-container {
  padding-top: 0px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
 }

 .footer {
  height: 50px;
  text-align: center;
} 

input,
select,
textarea {
  max-width: 400px;
}

.bg-puc {
  background-color: rgb(15, 112, 183);
}

.logopuc {
  padding-top: 20px;
}

ul li + .submenu{
  display: none;
}

ul li.active + .submenu {
  display: block;
  list-style: none;
}
