<header class="bg-puc py-3 mb-4 mt-5">
    <div class="col-lg-12 text-center">
        <img class="img-fluid" src="assets/puclogo.png" />
        <p class="lead mb-0 text-white">SGQ - Sistema de Gestão da Qualidade</p>
        <p class="mb-2 text-white">Projeto de Conclusão do curso de Arquitetura de Software Distribuído</p>
    </div>
</header>
<div class="row d-flex justify-content-center">
    <div class="row text-center">
        <div class="error-template">
            <h1>
                Oops!</h1>
            <h2>
                404 Not Found</h2>
            <div class="error-details">
                Desculpe, a página que você requisitou não foi encontrada!
            </div>
        </div>
    </div>
</div>
