<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-9">
                <h3 class="display-5">Sistema de Gestão da Qualidade para o Ramo Automitivo</h3>
                <p class="lead text-muted mb-0">Trabalho de Conclusão de Curso de Especialização em Arquitetura de
                    Software Distribuído como requisito parcial à obtenção do título de especialista.</p>
            </div>
            <div class="col-lg-3 d-none d-lg-block"><img src="assets/logo-puc-transparente.png" alt=""
                    class="img-fluid"></div>
        </div>
    </div>
</div>

<div class="bg-white py-3">
    <div class="container py-3">
        <p><strong>Desenvolvido por:</strong> Alessandro Vasconcelos de Oliveira</p>
        <div class="row align-items-center mb-5">
            <div class="col-lg-1 order-1 order-lg-1"><i class="fa fa-github fa-3x"></i>
            </div>
            <div class="col-lg-11 order-2 order-lg-1">
                <h4 class="font-weight-light">Código-fonte:
                </h4><a
                    href="https://github.com/alessandroibes/puc-minas-tcc">https://github.com/alessandroibes/puc-minas-tcc</a>
            </div>
        </div>
    </div>
</div>
