<div class="container main-container">
    <h6>RNC - Registro de Não Conformidade</h6>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Ocorrencia</th>
                <th class="text-center" scope="col">Status</th>
                <th class="text-center" scope="col">Data</th>
                <th class="text-center" scope="col">Operações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rnc of rncs">
                <td>{{ rnc.ocorrencia }}</td>
                <td class="text-center">{{ getRNCStatusType(rnc.status) }}</td>
                <td class="text-center">{{ rnc.dataOcorrencia | date: "dd/MM/yyyy hh:mm" }}</td>
                <td class="text-center">
                    <!-- Alterar -->
                    <button [routerLink]="['/atualizar-rnc', rnc.id]" class="fa fa-pencil fa-lg">
                    </button>&nbsp;
                    <!-- Ver detalhes -->
                    <button class="fa fa-list-alt fa-lg" (click)="detalhesModal(rnc)">
                    </button>&nbsp;
                    <!-- Remover -->
                    <button class="fa fa-trash fa-lg" *ngIf="currentUser && currentUser.gerente">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
